<!DOCTYPE HTML>
<meta charset="utf-8">
<html>
  <head>
    <title>Aimeedeer</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <script type="text/javascript" src="/script/lib/jquery.js" ></script>
  <head>
  <body>
    <div class="content">
		<div class="header">
		  <img height="50px" width="240px" src="/resource/pic/logo_w.png" /></span>
		</div>
		<div class="left-box">
			<form class="login_form" method="post">
				<table id="loginBefore">
					<tr><td>用户名:</td><td><input name="username" type="text" id="username"/></></td></tr>
					<tr><td>密码:</td><td><input name="password" type="password" id="password"/></td></tr>
					<tr><td colspan="2" align="right"><input id="loginBTN" value="登录" type="button"/></td></tr>
				</table>
				<table id="loginAfter" style="display:none">
					<tr><td colspan="2" align="right"><div id="usernameShow"></div></tr>
					<tr><td colspan="2" align="right"><div>已登录</div></td></tr>
					<tr><td colspan="2" align="right"></td></tr>
				</table>
			</form>
		</div>
		<div class="center-box">
			<div class="entry-box">
				<div class="entry-title">输入</div>
				<p><form method="post"><input type="text" id="thing-content" style="width:600px"/><input id="thing-add" type="button" value="提交"/></form></p>
			</div>
			<div class="entry-box">
				<div class="entry-title">内容</div>
				<div id="dataBox">
				</div>
			</div>
		</div>
		<div class="footer">
		</div>
    </div>
	<script>
		var loginFunction = function(){
		   $.getJSON('/service/user/login',
		      {username:$("#username").val(),password:$("#password").val()},
		      function(data) {
	                 if(!data.ecode){
		            $("#loginBefore").hide();
                            $("#loginAfter").show();
                            $("#usernameShow").html("hi," + data.nickname);
		         }
		         refresh();
		      }
		   );
		};
		
		var refresh = function(){
		   $("#dataBox").html("");
		   $.getJSON('/service/things/query',function(data){
		       if(!data.ecode){
		         $.each(data,function(i,item){
		             if(item != null){
		                $("#dataBox").append("<p>[<a href='#' onclick=\"del('" + item.id+ "');return false;\">D</a>] | <" + item.time_create + "> --> " + item.content  + "</p>");
		             }
		         });
		       } else {
		          $("#dataBox").append("<p>" + data.emsg  + "</p>");
		       }
		       
		   });
		};

		var addFunction = function(){
		  $.getJSON('/service/things/add',{content:$("#thing-content").val()},function(data){
		    $("#thing-content").val("");
		    refresh();		
		  });
		};

                function del(id){
	          if(!confirm("delete it.ok?")) {
                     return;
		  }									
                  $.getJSON('/service/things/del',{id:id},function(data){
                    refresh();
                  });
                }
		
		
		$("#thing-add").click(addFunction);;
		$("#loginBTN").click(loginFunction);

		loginFunction();

		$("#thing-content").keypress(function(event) {
                  if ( event.which == 13 ) {
                       addFunction();
		       return false;
                  }																	    
                 });
                $("#thing-content").focus();
	</script>
  </body>
</html>


