<!DOCTYPE HTML>
<meta charset="utf-8">
<html>
  <head>
    <title>Aimeedeer</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <script type="text/javascript" src="/script/lib/jquery.js" ></script>
  <head>
  <body>
    <div class="content">
		<div class="header">
	      <img height="50px" width="240px" src="/resource/pic/logo_w.png" /></span>
		</div>
		<div class="left-box">
			<form class="login_form" method="post" action="/action/user/login">
				<table>
					<tr><td>用户名:</td><td><input name="username" type="text" id="username"/></td></tr>
					<tr><td>密码:</td><td><input name="password" type="password" id="password"/></td></tr>
					<tr><td colspan="2" align="right"><input id="loginBTN" value="登录" type="button"/></td></tr>
				</table>
			</form>
		</div>
		<div class="center-box">
			<div class="entry-box">
				<div class="entry-title">输入</div>
				<p><form method="post" action="/action/casesheet/add"><input type="text" name="caseText" style="width:600px"/><input type="button" value="提交"/></form></p>
			</div>
			<div class="entry-box">
				<div class="entry-title">内容</div>
				<p><table></table></p>
			</div>
		</div>
		<div class="footer">
		</div>
    </div>
	<script>
		$("#loginBTN").click(function(){
		alert("ok");
			$.getJSON('/service/user/login',{username:$("#username").val(),password:$("#password").val()},function(data) {
			  $.each(data,function(key, val) {
				alert(key + "," + val);
			  });
			});
		});
	</script>
  </body>
</html>


