/* aimeedeer css base */
body
{
    background-color:#1C3D52;
}

.index
{
   width:940px;
   margin:0 auto;
}
.header
{
   background-color:black;
   font
   border:1px solid white;
   clear:both;
   height:100px;
   padding:0 0 0 5px;
}
.body
{
   clear:both;
}

.body_center
{
   border:1px solid white;
   width:730px;
   margin:6px 0 6px 0px;
   float:left;
}
.body_right
{
    
}

.footer
{
   background-color:#000000;
   border:1px solid white;
   clear:both;
   text-align:center;
}

.content
{
   background-color:white;
   margin:10px 10px;
   padding:5px 0px;
}
.content p
{
   padding:0 5px;
}
.content_bar
{
   background-color:#EEEEEE;
   padding:0 5px;
}